  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400&display=swap');


nav {
    padding: 0 197px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 27px;
}

nav img {
    margin-right: 100px
}

.text_nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 347px;
    padding-left: 0px;

}

.text_nav li {
    margin: 0px;
    padding: 0px;
    color: #B8BECD;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    display: block;
}

#active {
    
    color: #202336;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    display: block;
}


header h1 {
    color: #000;
    font-family: Playfair Display;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    padding-bottom: 20px;
}

header h3 {
    width: 450px;
    color: #7D7987;
    font-family: Mulish;
    font-size: 17px;
    font-style: normal;
    font-weight: 300; 
    padding-bottom: 33px;  
}

.guides {
    width: 481px;
    height: 303px;
    padding-top: 320px;
}

header {
    padding: 0 197px;
    display: flex;
    height: 833px;
}

header img {
    margin-left: 50px;
    margin-top: 150px;    
    width: 599px;
    height: 542px;
}

header button {
    border-radius: 8px;
    background: #FB8F1D;
    width: 164px;
    height: 48px;
    border: transparent;

    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;  
}

#register {
    width: 132px;
    height: 44px;
    border-radius: 8px;
    background: #FB8F1D;
    border: transparent;

    color: #FFF;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;  
}

#login {
    width: 132px;
    height: 44px;
    border-radius: 8px;
    border: 1px solid #FB8F1D;
    background-color: transparent;

    color: #FB8F1D;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
}

.second_section {
    padding: 0 197px;
    height: 774px;
    background: #F8F8F8;
    display: flex;
    justify-content: space-between;
}

.description {
    display: flex;
    flex-direction: column;
    width: 450px;;
    margin-top: 79px;
}

.description h2 {
    margin-bottom: 142px;
    color: #000;
    font-family: Playfair Display;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
}

.second_section p {
    margin-top: 30px;
    margin-bottom: 40px;
    color: #000;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; 
}

#photographer {
    margin-top: 189px;
    width: 384px;
    height: 491px;
    border-radius: 14px;
}

.second_section h3 {
    margin-bottom: 10px;
    color: #000;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; 
}

.second_section h4 {
    margin-top: 0px;
    color: rgba(0, 0, 0, 0.85);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.third_section {
    padding: 0 197px;
    height: 863px;
}

.top_description {
    margin-top: 146px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 54px;

    color: #000;
    font-family: Playfair Display;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;  
}

.top_description a {
    color: #FB8F1D;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px;
    text-decoration: none;
}


.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item {
    width: 260px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items:start
}

.item h3 {
    margin-bottom: 13px;
    color: #000;
    font-family: Inter;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; 
}

.item p {
    margin-bottom: 13px;
    color: #7D7987;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
    height: 78px;
}

.item img {
    width: 261px;
    height: 233px;
    border-radius: 8px 8px 0 0;
    margin-bottom: 14px;
}

.item a {
    color: #FB8F1D;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    text-decoration: none;
}

footer {
    padding: 0 197px;
    height: 195px;
    background: #F8F8F8;
}

.rights {
    display: flex;
    justify-content: space-between;
    margin-bottom: 26px;
    padding-top: 21px;
}

.rights h4 {
    color: #848484;
    font-family: Mulish;
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
}

.line {
    width: 100%;
    height: 0.6px;
    background: #C4C4C4;
    margin-bottom: 32px;
}

.social {
    width: 248.01px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.social a {
    border: transparent;
    background: transparent;
    text-decoration: none;

}